docker/nodered/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a6793e89fc287498","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"final_db","tz":"","charset":"UTF8"},{"id":"6c7d8e4f8e9357d7","type":"ui_tab","name":"OpenCellID - Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"1d22a366cce36e65","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"BigData Cell-Coverage","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"734c3aa02d7f99aa","type":"ui_group","name":"2. Check Cell Coverage for GSM, UMTS, LTE","tab":"6c7d8e4f8e9357d7","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"c281e589ce4e0f71","type":"ui_spacer","z":"f6f2187d.f17ca8","name":"spacer","group":"734c3aa02d7f99aa","order":2,"width":"12","height":"1"},{"id":"e7955ac33a2b2f4c","type":"ui_spacer","z":"f6f2187d.f17ca8","name":"spacer","group":"734c3aa02d7f99aa","order":4,"width":"12","height":"1"},{"id":"297bd063d8a42278","type":"ui_group","name":"1. Chose Location to be checked","tab":"6c7d8e4f8e9357d7","order":1,"disp":true,"width":"12","collapse":true,"className":""},{"id":"5ddf66b649fd7cc8","type":"mysql","z":"f6f2187d.f17ca8","mydb":"a6793e89fc287498","name":"","x":180,"y":260,"wires":[["191b2ff38acc5229"]]},{"id":"08a1035308badb9e","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"734c3aa02d7f99aa","order":1,"width":0,"height":0,"passthru":false,"label":"Check Cell Coverage!","tooltip":"","color":"","bgcolor":"","className":"","icon":"check","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":80,"wires":[["e409ea49377dbcb7"]]},{"id":"e409ea49377dbcb7","type":"function","z":"f6f2187d.f17ca8","name":"","func":"desired_lat=flow.get(\"location_lat\");\ndesired_lon=flow.get(\"location_lon\");\n\nmsg.topic=\"select `radio`, AVG(`range`) as `avg_range` from Fulldatabase \" + \n\"where `lat` >= \" + (desired_lat - 0.01) + \" AND `lon` >= \" + (desired_lon - 0.01) + \n\" AND `lat` <= \" + (desired_lat + 0.01) + \" AND `lon` <= \" + (desired_lon + 0.01) + \n\" GROUP BY `radio` ORDER BY `radio`\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["5ddf66b649fd7cc8","a9eb4382aa07deba"]]},{"id":"f75b978520b9f7e8","type":"ui_toast","z":"f6f2187d.f17ca8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":150,"y":500,"wires":[]},{"id":"b1f58de7bca545e4","type":"worldmap","z":"f6f2187d.f17ca8","name":"","lat":"50.5","lon":"10.5","zoom":"","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO","maplist":"OSMC","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":880,"y":200,"wires":[]},{"id":"264a82ae33835434","type":"worldmap in","z":"f6f2187d.f17ca8","name":"","path":"/worldmap","events":"point,draw","x":740,"y":460,"wires":[["75fad28a84f9bfef"]]},{"id":"75fad28a84f9bfef","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"point","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":460,"wires":[["c20f2a63acf8df2f"]]},{"id":"c20f2a63acf8df2f","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload=[msg.payload.lat, msg.payload.lon];\nflow.set(\"location_lat\", msg.payload[0]);\nflow.set(\"location_lon\", msg.payload[1]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":520,"wires":[["8fb6a7a0e5915fd6"]]},{"id":"8fb6a7a0e5915fd6","type":"ui_text","z":"f6f2187d.f17ca8","group":"734c3aa02d7f99aa","order":3,"width":0,"height":0,"name":"","label":"Position","format":"{{msg.payload}}","layout":"row-center","className":"","x":900,"y":520,"wires":[]},{"id":"942f0a0f7c54fbe8","type":"ui_toast","z":"f6f2187d.f17ca8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":590,"y":120,"wires":[]},{"id":"a9eb4382aa07deba","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload=\"Fetching ...\"\nmsg.topic=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[["942f0a0f7c54fbe8"]]},{"id":"191b2ff38acc5229","type":"function","z":"f6f2187d.f17ca8","name":"Prepare output","func":"//GSM UMTS LTE\nvar lte = {payload: \"\"};\nvar umts = {payload: \"\"};\nvar gsm = {payload: \"\"};\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    if(msg.payload[i].radio === \"GSM\") {\n        gsm.payload = msg.payload[i][\"avg_range\"]/1000;\n    } if(msg.payload[i].radio === \"UMTS\") {\n        umts.payload = msg.payload[i][\"avg_range\"]/1000;\n    } if(msg.payload[i].radio === \"LTE\") {\n        lte.payload = msg.payload[i][\"avg_range\"]/1000;\n    }\n}\n\nmsg.topic=\"\";\n\nreturn [lte, umts, gsm];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":340,"wires":[["8f8e8a7fb698397a","d25ff5a302e91b34","c128ed7d73ece4da"],["085d5056fb6cad3c","d81d9becbbcd319f"],["3ad4e27f1730d6ee","1f78b28367fd7f9d"]]},{"id":"d25ff5a302e91b34","type":"ui_text","z":"f6f2187d.f17ca8","group":"734c3aa02d7f99aa","order":5,"width":"4","height":"1","name":"","label":"LTE","format":"{{msg.payload |number: 2}} km","layout":"row-center","className":"","x":410,"y":320,"wires":[]},{"id":"085d5056fb6cad3c","type":"ui_text","z":"f6f2187d.f17ca8","group":"734c3aa02d7f99aa","order":6,"width":"4","height":"1","name":"","label":"UMTS","format":"{{msg.payload|number: 2}} km","layout":"row-center","className":"","x":410,"y":420,"wires":[]},{"id":"3ad4e27f1730d6ee","type":"ui_text","z":"f6f2187d.f17ca8","group":"734c3aa02d7f99aa","order":7,"width":"4","height":"1","name":"","label":"GSM","format":"{{msg.payload|number: 2}} km","layout":"row-center","className":"","x":390,"y":540,"wires":[]},{"id":"8f8e8a7fb698397a","type":"function","z":"f6f2187d.f17ca8","name":"Done","func":"msg.payload=\"Done!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":460,"wires":[["f75b978520b9f7e8"]]},{"id":"c128ed7d73ece4da","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"734c3aa02d7f99aa","order":8,"width":"4","height":"4","gtype":"gage","title":"Bewertung LTE","label":"km","format":"{{value |number: 2}}","min":"0.5","max":"15","colors":["#8f0599","#e6e600","#00ff4c"],"seg1":"3.5","seg2":"","className":"","x":440,"y":280,"wires":[]},{"id":"d81d9becbbcd319f","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"734c3aa02d7f99aa","order":8,"width":"4","height":"4","gtype":"gage","title":"Bewertung UMTS","label":"km","format":"{{value |number: 2}}","min":"0.5","max":"15","colors":["#8f0599","#e6e600","#00ff4c"],"seg1":"3.5","seg2":"","className":"","x":450,"y":380,"wires":[]},{"id":"1f78b28367fd7f9d","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"734c3aa02d7f99aa","order":8,"width":"4","height":"4","gtype":"gage","title":"Bewertung GSM","label":"km","format":"{{value |number: 2}}","min":"0.5","max":"15","colors":["#8f0599","#e6e600","#00ff4c"],"seg1":"3.5","seg2":"","className":"","x":420,"y":500,"wires":[]},{"id":"d976eaa098de29a1","type":"ui_iframe","z":"f6f2187d.f17ca8","group":"297bd063d8a42278","name":"","order":0,"width":"12","height":"9","url":"/worldmap/","origin":"*","scale":100,"x":870,"y":160,"wires":[[]]},{"id":"338cc76dc31403b5","type":"catch","z":"f6f2187d.f17ca8","name":"","scope":["5ddf66b649fd7cc8"],"uncaught":false,"x":100,"y":640,"wires":[["22174ae720f63d3c"]]},{"id":"22174ae720f63d3c","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":560,"wires":[["f75b978520b9f7e8"]]}]